header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

#header-index {
    color: #020692;
}

header, footer, body, .video-container {
    background-color: linen;
}

footer {
    position: relative;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    min-width: 150px;
    position: fixed; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

.navbar p {
    color: darkgray;
}

a {
    text-decoration: none;
}

.navbar p:hover {
    color: aliceblue;
}

label {
    display: block;
}

.search {
    margin-left: 1%;
}

#searchtxt:focus {
    background-color: lightblue;
}

.review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

#review-btn:hover {
    background-color: cornflowerblue;
}

#slider {
    position: relative;
    display: inline-block;
}

#slider img {
    display: none;
    width: 100%;
    height: auto;
}

#slider button {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#slider #slideLeft {
    left: 5px;
}

#slider #slideRight {
    right: 5px;
}
