<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../Static/JS/index.js"></script>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script>
        //handleSession(logger, checker);
        setTimeout(function () { alert("Подпишись на нас!!!") }, 60000);
    </script>
</head>
<header id="header-index">
    <!--Заголовок страницы-->
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <!--Параграф-->
    <p>Покажем, что происходит прямо сейчас</p>
</header>
<!--SIDEBAR-->
<div class="search">
    <label for="search">Найти видео:</label>
    <input type="text" id="searchtxt" oninput="filter()" size=50%>
    <input id="searchButton" type="button" value="Поиск"></input>
</div>
</div>
<body>
    <div class="bordered">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Нью-Йорк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Лондон</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dhVzWNos718" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            
            <h3>Санкт-Петербург</h3>
        </div>
</body>
<!--FOOTER-->
</html>